* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  font-family: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid blue;
}

button {
  border: none;
}

#header {
  width: 100%;
  min-height: 120vh;
  background: linear-gradient(rgba(0 0 0 / 50%), rgba(0 0 0 / 50%)),
    url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}

.navbar {
  position: relative;
  width: 94%;
  height: 91px;
  margin-left: 59px;
  top: 0;
}

.navbar-brand {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1 px;
  position: relative;
  width: 155px;
  height: 32px;
  left: 6%;
  color: #fff;
  top: calc(50% - 32px / 2);
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  position: absolute;
  width: 360px;
  height: 24px;
  margin-left: 24%;
  top: calc(50% - 24px / 2);
}

.menu li {
  list-style: none;
  margin-left: 20px;
  font-size: 14px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 35px;
  position: absolute;
  width: 350px;
  height: 52px;
  right: 0px;
  top: calc(50% - 52px / 2);
  left: 68%;
}

.navbar-nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.navbtn {
  color: #fff;
  padding: 18px 30px;
  background-color: #23a6f0;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.faimg {
  width: 14px;
  position: absolute;
  height: 12px;
  top: calc(50% - 10px / 2);
}

.sect-contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  position: absolute;
  width: 1050px;
  height: 608px;
  left: calc(50% - 1050px / 2);
  top: 155px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 40px;
  gap: 12px;
  width: 328px;
  height: 610px;
  background: #ffffff;
  border-radius: 10px;
}

.form h2 {
  margin: 10px 0 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252b42;
}

.form h6 {
  font-size: 14px;
  font-weight: 500;
  font-family: Monserat, sans-serif;
  height: 80px;
  line-height: 28px;
  color: #252b42;
}

input {
  box-sizing: border-box;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  color: #737373;
  border-radius: 5px;
  height: 80px;
  padding: 0 21px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
  font-size: 14px;
}

.option {
  box-sizing: border-box;
  height: 80px;
  background: #f9f9f9;
  border: 1px solid #dddddd;
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  font-size: 14px;
  border: none !important;
}

.butn {
  padding: 15px 40px;
  gap: 10px;
  width: 248px;
  height: 52px;
  background: #23a6f0;
  border-radius: 5px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.2px;
}

.butn a {
  color: #fff;
  text-decoration: none;
  margin: 25px 0;
}

.description .desc1 {
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.description .desc2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin: 30px 0 2px;
}

.sect1-btn {
  width: 185px;
  height: 52px;
  border-radius: 37px;
  background: #23a6f0;
  cursor: pointer;
}

.sect2-btn {
  width: 150px;
  height: 52px;
  border-radius: 37px;
  background: rgba(0 0 0 / 10%);
  margin: 30px 0;
  cursor: pointer;
}

a .sect1-btn {
  color: #fff;
}

a .sect2-btn {
  color: #fff;
  border: 1px solid #fff;
}

/* section 2 */

#section2 {
  width: 100%;
  height: auto;
  padding: 70px 0;
  display: block;
}

.desc-sect5,
.desc-sect4,
.desc-sect3,
.desc-sect2 {
  margin: 30px 0 50px;
  text-align: center;
}

.desc-sect5 h1,
.desc-sect4 h1,
.desc-sect3 h1,
.desc-sect2 h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
  width: auto;
  height: auto;
  margin: 0 0 15px;
  font-family: Monserat, sans-serif;
}

.desc-sect5 p,
.desc-sect4 p,
.desc-sect3 p {
  width: auto;
  height: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  font-family: Monserat, sans-serif;
}

.desc-sect2 p {
  width: auto;
  height: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  font-family: Monserat, sans-serif;
}

.divbox {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 8% 8% 0;
}

.div3,
.div2,
.div1 {
  border-radius: 10px;
  border: 1px solid #8ec2f2;
  flex-basis: 33.33%;
  background: #e1f0fd;
  width: 320px;
  height: auto;
}

.subdiv3,
.subdiv2,
.subdiv1 {
  display: flex;
  gap: 10px;
  align-items: center;
  background: #8ec2f2;
  padding: 30px 40px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.subdiv3 h3,
.subdiv2 h3,
.subdiv1 h3 {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  width: 170px;
}

.sect2-divimg {
  width: 72px;
  height: 72px;
  background: "#fff";
  border-radius: 200px;
}

.subdiv33,
.subdiv22,
.subdiv11 {
  border: 1px solid #a9d6ff;
  border-radius: 11px;
  padding: 30px 50px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  background: #fff;
}

ul li {
  list-style-type: "- ";
  color: #737373;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.2px;
  padding: 0 2px;
}

.bluestest {
  color: #23a6f0;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-top: 15px;
}

/* section 3 */

#section3 {
  padding: 50px 0 30px;
  box-sizing: border-box;
  background-color: #fafafa;
}

.desc-sect3 {
  margin: 30px 0 50px;
  text-align: center;
}

.s2divbox {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 5% 10%;
}

.s2div3,
.s2div2,
.s2div1 {
  flex-basis: 28%;
  border: 1px solid #dedede;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 20px 20px;
  background-color: white;
}

.s2subdiv3,
.s2subdiv2,
.s2subdiv1 {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  background-color: white;
}

.sect2-divimg {
  border: 1px solid #bdbdbd;
}

.s2subdiv33,
.s2subdiv22,
.s2subdiv11 {
  padding: 30px 50px 12px;
  background: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}

.fullstars {
  color: #f3cd03;
  font-size: 20px;
}

.stars {
  text-align: center;
  background-color: white;
}

/* section4 */

#section4 {
  background-color: #fafafa;
  padding: 14% 0 5%;
}

.desc-sect5,
.desc-sect4 {
  margin: 30px 0 50px;
  text-align: center;
}

.sect4-container {
  margin: 8% 0 8% 9%;
  display: flex;
  width: 85%;
  flex-wrap: wrap;
  align-items: center;
  gap: 10%;
}

.sect4-div-img {
  background: linear-gradient(rgba(0 0 0 / 0%), rgba(38 38 38 /84%)),
    url("../images/video.jpg");
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  height: 442px;
  position: relative;
  border: none;
  width: auto;
  margin: auto;
}

.sect4-video-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: none;
}

.sect4-div-desc {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-right: 50px;
}

.sect4-div-desc h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-bottom: 15px;
}

.sect4-div-desc p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.sect4-div-desc-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: auto;
}

.square-text h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.square-text p {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.square-logo {
  position: relative;
  background: url("../images/square.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.square-logo2 {
  position: relative;
  background: url("../images/comment-cont.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.square-logo-img {
  position: absolute;
  top: 41%;
  left: 41%;
  transform: translate(-60%, -60%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.square-logo2-img {
  position: absolute;
  width: 14px;
  height: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-53%, -53%);
}

#section5 {
  padding: 70px 0;
  background-color: #fafafa;
}

.sect5-div-container {
  margin: 2% 0 2% 9%;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1px;
  width: 80%;
  flex-wrap: wrap;
  align-items: center;
}

.sect5-div1,
.sect5-div2,
.sect5-div3 {
  border: 1px solid #23a6f0;
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-radius: 10px;
  background-color: #fff;
  padding: 50px 40px;
  margin-bottom: 0;
  color: #252b42;
}

.bg-color {
  background-color: #252b42;
  padding: 70px 40px;
  color: #fff;
  margin-bottom: 40px;
}

.line .bg-txt {
  color: white;
}

span img {
  border-radius: 50%;
}

.zero {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #23a6f0;
}

.permonth {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #8ec2f2;
}

.line {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.line span {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252b42;
  text-align: left;
}

.zero-dollar-permonth {
  display: flex;
}

.sect-div-buton {
  padding: 12px 0;
  width: 100%;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2px;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: #23a6f0;
}

/* section 6 */

#section6 {
  background-color: #fafafa;
  height: 1223px;
}

.dark-div {
  background: #252b42;
  height: 807px;
}

.sect6-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 2% 0 8% 7%;
  width: 80%;
  transform: translateY(-75%);
}

.sect6-row2 {
  display: flex;
  /* background-color: #fff; */
  justify-content: center;
  margin-left: 5%;
}

.sect6-row1 {
  align-items: center;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.sect6-row1-desc {
  flex-basis: 45%;
  margin: 7% 0;
}

.sect6-row1-desc h1 {
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin: 0 0 20px;
}

.sect6-row1-desc p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.worldcard-img {
  height: fit-content;
}

.contact-img {
  height: 609px;
}

.form2 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 40px;
  gap: 12px;
  width: 600px;
  height: 610px;
  background: #ffffff;
  border-radius: none;
  color: #252b42;
}

.form-btn {
  width: 520px;
  font-size: 14px;
}

.form2 h6 {
  font-size: 14px;
}

.form2 h2 {
  text-align: center;
}

.form2 option {
  color: #737373;
}

/* background-image: url(https://picsum.photos/id/1080/6858/4574), linear-gradient(rgb(219, 166, 166), rgb(0, 0, 172)); */

#section7 {
  padding: 50px 0 0;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
}

.sect7-divs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 4.5em;
  margin: 10px 0 40px;
  font-family: Monserat, sans-serif;
}

div.icons {
  display: flex;
}

.icons a .fa {
  color: #23a6f0;
  padding: 0 0 0 10px;
  font-size: 27px;
}

.icons a ion-icon {
  color: #23a6f0;
  padding: 0 0 0 10px;
  font-size: 27px;
}

.sect-divs-div1,
.sect-divs-div2,
.sect-divs-div3,
.sect-divs-div4 {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
}

.last-text {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #fafafa;
  height: 76px;
  margin: 5% 0 0;
  font-family: Monserat, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.sect7-divs h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.sect7-divs p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }

  .mobile {
    background: crimson; /* #f7f7f7; */
    width: auto;
    /* height: 532px; */
    color: #f6f6f6;
  }

  .mobile-navbar {
    display: flex;
    /* max-width: 100%; */
    margin: 35px 20% 10%; 
    color: black;
    justify-content: space-between;
    
  }

  .mobile-navbar h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #252b42;
  }

  .mobile-icon-nbsp {
    margin-left: 15px;
    width: 30px;
    height: auto;
  }

  .mobil-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
  }

  .mobil-menu li {
    list-style: none;
    margin-left: 20px;
    font-size: 35px;
    padding: 25px;
  }

  .mobil-menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }
}
